*

!.gitignore
!.gitmodules

!.editorconfig

!Cargo.toml
!Cargo.lock
!build.rs

!evacuationc.conf
!LICENSE
!logger.conf
!scenario.json

!README.md

!CMakeLists.txt

!src/
!src/**/*

!src-tauri/
!src-tauri/**/*

!package*.json
!vite.config.ts
!tsconfig*.json
!.prettier*
!.husky
!.husky/**/*

!index.html
!src-ui/config/index.html
!src-ui/
!src-ui/**/*

!res/
!res/*.json

!thirdparty/
!thirdparty/**/*

!test/
!test/*.c
!test/*.h
!test/CMakeLists.txt
