*

!.gitignore
!.gitmodules

!.editorconfig

!evacuationc.conf
!LICENSE
!logger.conf
!scenario.json

!README.md

!CMakeLists.txt

!src/
!src/*

!res/
!res/*.json

!thirdparty/
!thirdparty/**/*

!test/
!test/*.c
!test/*.h
!test/CMakeLists.txt
